* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

/* Fonts */
@font-face {
  font-family: "Humaira";
  src: url("../fonts/Humaira\ demo.otf");
}

@font-face {
  font-family: "Allison";
  src: url("../fonts/Allison\ Tessa\ Oblique.ttf");
}
@font-face {
  font-family: "South";
  src: url("../fonts/South\ Gardens\ Personal\ Use.ttf");
}

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf");
}

/* Utilities */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

/* Colors */
:root {
  --text-color-1: rgb(223, 223, 223);
  --text-color-2: #a3a3a3;
  --text-color-3: #61616146;

  --theme-color: #000;

  --primary-color-1: #3d3906;
  --primary-text-1: #dbd9b6;

  --primary-color-2: #012e2e;
  --primary-text-2: #c3e6e6;

  --primary-color-3: #3d2106;
  --primary-text-3: #eee0d3;

  --primary-color-4: #2a3d06;
  --primary-text-4: #cdddae;

  --primary-color-5: #063d2b;
  --primary-text-5: #addacb;

  --primary-color-6: #22175c;
  --primary-text-6: #bab5db;

  --github-color: #fff;
  --linkedin-color: #0077b5;
  --gmail-color: #bb001b;
  --instagram-color: #e1306c;

  --sidebar-nav: 12em;
}

/*========================== Background containers */

.container__home {
  color: var(--primary-text-1);
  background-color: var(--primary-color-1);
}

.container__about {
  color: var(--primary-text-2);
  background-color: var(--primary-color-2);
}

.container__education {
  color: var(--primary-text-3);
  background-color: var(--primary-color-3);
}

.container__skills {
  color: var(--primary-text-4);
  background-color: var(--primary-color-4);
}

.container__project {
  color: var(--primary-text-5);
  background-color: var(--primary-color-5);
}

.container__achievements {
  color: var(--primary-text-6);
  background-color: var(--primary-color-6);
}

/* ==== PARENT ====== */
.parent {
  min-height: 100vh;
  width: 100%;
}

/* ======== Content ======= */

.content {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 75%;
  padding-left: var(--sidebar-nav);
}

.content p {
  line-height: 1.6;
  font-size: 1.15em;
  text-align: justify;
  animation: content__frame 0.5s ease-in;
  -moz-animation: content__frame 0.5s ease-in;
}

@keyframes content__frame {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
}

.content__container {
  height: 100%;
  width: 100%;
}

.me {
  padding: 1em 0;
  font-family: South;
  font-weight: 500;
  font-size: 500%;
  animation: me__frame 0.5s ease-in;
  -moz-animation: me__frame 0.5s ease-in;
  display: table;
  white-space: nowrap;
}

.me:before,
.me:after {
  /* border-top: 1px solid green; */
  content: "";
  display: table-cell;
  position: relative;
  top: 1em;
  width: 100%;
}
.me:before {
  right: 2.5%;
}
.me:after {
  left: 2.5%;
}

@keyframes me__frame {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
}
